<div class="container">
	<!--<form class="form-inline">-->

	<div>
		<a><label>Recipe Book</label></a>

		<form id="filter">
			<div class="inner-addon left-addon">
				<i class="glyphicon glyphicon-search"></i>
				<input width="80%" type="text" class="form-control" [(ngModel)]="term" name="recipeSearch" placeholder="Search recipes">
				<button type="submit" (click)="show = false" class="btn btn-info">
				<span class="glyphicon glyphicon-search"></span> Search
			</button>
			</div>
		</form>
	</div>
	<!--</form>-->
	<hr>
	<div class="navbar navbar-default navbar-static">
		<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
        </button>
		<div class="collapse navbar-collapse navHeaderCollapse">
			<nav>
				<div class="btn-group" (click)="show = true">
					<a routerLink="/recipes" routerLinkActive="active" class="btn btn-primary">All Recipes</a>
					<a routerLink="/addrecipe" routerLinkActive="active" class="btn btn-primary">Add Recipe</a>
					<a routerLink="/editrecipe" routerLinkActive="active" class="btn btn-primary">Update Recipe</a>
					<a routerLink="/deleterecipe" routerLinkActive="active" class="btn btn-primary">Delete Recipe</a>
					<a routerLink="/external" routerLinkActive="active" class="btn btn-primary">External Recipes</a>
				</div>
			</nav>
		</div>
	</div>
	<div *ngIf="show; else elseBlock">
		<router-outlet></router-outlet>
	</div>
	<ng-template #elseBlock>
		<ul id="recipe-listing">
			<li *ngFor="let recipe of recipes | filter:term">
				<div class="recipe">
					<h3>{{recipe.name}}</h3>
				</div>
			</li>
		</ul>
	</ng-template>
</div>