a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}

.navbar-default{
    margin-top: 5px;
    background-color: #f48024 !important;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* My stuff */
.header-block{
    /* float: left; */
    width: 100%;
    height: 60px;
    margin:0px;
    border: 1px;
}

.bright-orange{
    background: #f48024;
}

.orange{
    background: #ffc000;
}

.aquaBlue{
    background: #00bcd4
}

.navbar-text-color{
    color: black !important;
}

.search-top-margin{
    margin-top: 145px;
}
